@import url(https://fonts.googleapis.com/css?family=Sniglet:400,800); /*webfont google*/

*:focus {
    outline: none;
}

.alternative {
  border: none;
  cursor: pointer;
}

.alternative.error, .alternative.success, .alternative.current {
  color: #fff;
}

.alternative.error {
  background-color: red;
}

.alternative.success {
  background-color: green;
}

.alternative.current {
  background-color: blue;
}

/* layout */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body, button {
  font-family: 'Sniglet', cursive;
  font-size: 14px;
}

.align-middle-height, .align-middle-width {
  position: absolute;
  margin: auto;
  width: 10px;
}

.align-middle-height { top: 0; bottom: 0; }
.align-middle-width { left: 0; right: 0; }

.text-center {
  width: 100%;
  text-align: center;
}

#presentation {
  width: 100%;
  height: 100%;
}

#presentation .col-6 {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

#presentation .p1 { height: 120px; }
#presentation .p2 { height: 75px; }

#presentation .desc {
  background-color: #03A9F4;
  box-shadow: -29px 0px 0px 30px rgba(0, 0, 0, .2), -25px 0px 9px 30px rgba(0, 0, 0, .1), -15px 0px 20px 30px rgba(0, 0, 0, .1);
  animation: slideIn .8s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 2;
  color: #fff;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, .1);
}

#presentation .desc.slide-out {
  animation: slideOut .5s cubic-bezier(0.55, 0.06, 0.68, 0.19) .5s forwards;
}

#presentation .desc .title {
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -4px;
  animation: slideInFade .6s cubic-bezier(0.22, 0.61, 0.36, 1) .4s forwards;
  opacity: 0;
}

#presentation .inner {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  text-align: center;
}

#presentation .desc .inner {
  right: 0;
}

#presentation .play {
  animation: slideInFade .6s cubic-bezier(0.22, 0.61, 0.36, 1) .6s forwards;
  opacity: 0;
  z-index: 1;
}

#presentation .play .inner {
  left: 0;
}

#presentation .play .box-button {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  cursor: pointer;
  margin-top: -15px;
  transition: .5s;
}

#presentation .play .box-button.zoom-out {
  animation: zoomOut .5s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
}

#presentation .play .box-button:hover {
  transform: scale(1.2);
}

#presentation .play .text-play {
  font-size: 26px;
  color: #03A9F4;
  position: absolute;
  left: 26px;
  top: 40px;
  z-index: 1;
  text-transform: uppercase;
}

#presentation .play .text-play.again {
  font-size: 20px;
  left: 8px;
  top: 30px;
}

#presentation .play .btn {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 3px dashed #03A9F4;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

#presentation .comment {
  animation: fadeInUp 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  opacity: 0;
  font-size: 28px;
  line-height: 50px;
}

#presentation .comment.correct { animation-delay: 0s; }
#presentation .comment.wrong { animation-delay: .1s; }
#presentation .comment.hit { animation-delay: .2s; }

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}

#game #result, #game #options, #game .comment.msg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#game .comment.msg {
    width: 340px;
    top: 360px;
    font-size: 2.5em;
}

#game #result {
    width: 420px;
    font-size: 5em;
    top: 60px;
}

#game #options {
    width: 420px;
    font-size: 1em;
    top: 220px;
}

#game #options button {
    font-size: 3em;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin: 0 5px;
}

#game .mask-timeout {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  animation: maskTimeout 3s ease-in-out .5s forwards;
  background: #333;
  display: none;
}

#game .mask-timeout span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 185px;
  margin: auto;
  text-align: center;
  font-size: 95px;
  letter-spacing: -9px;
  color: #fff;
  text-shadow: 5px 5px rgba(0, 0, 0, .2);
  animation: fadeInUpOutDown 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) .8s forwards;
  opacity: 0;
}

#clockAnimation.clock {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 10px #FFF;
    border-radius: 50%;
    margin: 0 auto;
    opacity: .1;
}

#clockAnimation .pont1, #clockAnimation .pont2 {
  border-radius: 10px;
  background-color: #FFF;
  position: absolute;
  top: calc(50% - (10px /2));
  left: calc(50% - (10px /2));
}

#clockAnimation .pont1 {
  width: 50px;
  height: 10px;
}

#clockAnimation .rotatePont {
  width: 100px;
  height: 100px;
  position: absolute;
}

#clockAnimation .rotatePont.rot1 { animation: rotatePont 1s linear infinite; }
#clockAnimation .rotatePont.rot2 { animation: rotatePont 10s linear infinite; }

#clockAnimation .pont2 {
  width: 50px;
  height: 10px;
}

@keyframes rotatePont {
  to { transform: rotate(360deg); }
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slideOut {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideInFade {
  0% { transform: translateX(-50%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes zoomOut {
  0% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(0.5); opacity: 0; }
}

@keyframes fadeInUp {
  0% { transform: translateY(300%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fadeInUpOutDown {
  0% { transform: translateY(300%); opacity: 0; }
  50% { transform: translateY(0%); opacity: 1; }
  80% { transform: translateY(0%); opacity: 1; }
  100% { transform: translateY(300%); opacity: 0; }
}

@keyframes maskTimeout {
  0% {
    width: 0;
    height: 0;
    left: 0;
    right: 0;
  }
  50% {
    width: 200%;
    height: 350%;
    left: -50%;
    right: -50%;
  }
  80% {
    width: 200%;
    height: 350%;
    left: -50%;
    right: -50%;
  }
  100% {
    width: 0;
    height: 0;
    left: 0;
    right: 0;
  }
}
