<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css" media="screen">
</head>
<body ng-controller="ctrl">

  <div id="presentation">
    <div class="col-6 desc">
      <div class="inner">
          <h1 class="align-middle-height title text-center">Mathematics</h1>
      </div>
    </div>
    <div class="col-6 play">
      <div class="inner">
        <div class="align-middle-height text-center">
          <div class="box-button" ng-click="play()">
            <span>play</span>
            <div class="btn"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="game">
    <!-- <a href='' ng-click="close()">close</a> -->
    <!-- <a href='' ng-click="pause()">pause</a> -->

    <div id="numbers">

      <div id="result">
        <span>{{optionA}} {{operator}} {{optionB}} = {{answer}}</span>
      </div>

      <div id="options">
        <button id="alternativeA" ng-disabled="disableButton" class="alternative" ng-click="chooseAlternative($event)">{{alternative.alternativeA}}</button>
        <button id="alternativeB" ng-disabled="disableButton" class="alternative" ng-click="chooseAlternative($event)">{{alternative.alternativeB}}</button>
        <button id="alternativeC" ng-disabled="disableButton" class="alternative" ng-click="chooseAlternative($event)">{{alternative.alternativeC}}</button>
        <button id="alternativeD" ng-disabled="disableButton" class="alternative" ng-click="chooseAlternative($event)">{{alternative.alternativeD}}</button>
      </div>

      <div>
        <div class="comment msg">Comment: {{comment}}</div>
        <div class="comment correct">Answer Correct: {{correct}}</div>
        <div class="comment wrong">Answer Wrong: {{wrong}}</div>
        <div class="comment hit">Hits: {{hits}}</div>
      </div>

      <timer autostart="false" interval="1000" countdown="20">countdown: {{countdown}}</timer>

    </div>

  </div>

  <div id="end">
    <div class="comment correct">Answer Correct: {{correct}}</div>
    <div class="comment wrong">Answer Wrong: {{wrong}}</div>
    <div class="comment hit">Hits: {{hits}}</div>
  </div>

  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-timer-all.min.js"></script>
  <script type="text/javascript" src="lib/angular-timer-bower.js"></script>
  <script type="text/javascript" src="lib/apps2.js"></script>
</body>
</html>
