@keyframes sonar {
  0% { transform: scale(1); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1.4); opacity: 0; }
}

@keyframes rotatePont {
  to { transform: rotate(360deg); }
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slideOut {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideInFade {
  0% { transform: translateX(-50%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes zoomOut {
  0% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(0.5); opacity: 0; }
}

@keyframes fadeInUp {
  0% { transform: translateY(300%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fadeInUpOutDown {
  0% { transform: translateY(300%); opacity: 0; }
  50% { transform: translateY(0%); opacity: 1; }
  80% { transform: translateY(0%); opacity: 1; }
  100% { transform: translateY(300%); opacity: 0; }
}

@keyframes maskTimeout {
  0% {
    width: 0;
    height: 0;
    left: 0;
    right: 0;
  }
  50% {
    width: 200%;
    height: 350%;
    left: -50%;
    right: -50%;
  }
  80% {
    width: 200%;
    height: 350%;
    left: -50%;
    right: -50%;
  }
  100% {
    width: 0;
    height: 0;
    left: 0;
    right: 0;
  }
}
